

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    padding: 0 0 1rem 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

details {
    margin-bottom: 1rem;
}

.logo {
    padding: 1rem;
}

.navbar {
    width: 100%;
    background-color: #ffffff   ;
    height: 5rem;
}

.navbar-child {
    position: inline;
    text-align: center;
}

.product-container {
    margin-top:3rem;
    display: flex;
    width:100%;
    justify-content: center;
}

.product-container h2 {
    font-weight: normal;
    margin: 0 0 0 0;
}

.product-container h4 {
    font-weight: normal;
    margin-bottom: 0;
    display: inline;
}

.product-details {
    margin: 0 0 0 2rem;
}

.product-details p {
    width: 20rem;
}

.divider {
    width:100%;
    border-top: 1px solid #000000;
    margin-top: 2rem;
}

.checkout-btn {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    height: 3rem;
}

.checkout-btn:hover {
    color: black;
    background-color: white;
}

/* WORKSHOP 3 CSS */

@media only screen and (max-width: 600px) {
    .product-container {
      display:block;
      text-align: center;
    }
    .product-container img {
        width: 95%;
        height:100%;
    }
    .navbar-child ul {
        display: none;
    }

    .navbar {
        height:1rem;
    }
    .product-details {
        text-align: left;
        margin: 0 1rem 0 1rem;
    }

    .product-details h2 {
        font-size: 30px;
    }

    .product-details h4 {
        font-size: 20px;
    }
    
  }